html, body, h1, h2, h3, h4, p, section ul, ol, li, form{
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  font-size: 18px;
  font-weight: normal;
}

h1 {
  font-family: "Helvatica Neue", Helvetica, sans-serif;
  font-size: 4.375em;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 2em; /* 32px */
  font-weight: 450;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
h3 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 2em; /* 32px */
  font-weight: normal;
  text-align: center;
  border-bottom: 1px solid #555555;
  margin: 1.5em 0 0.5em 0;
}
p, form {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1em;
}
a {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 600;
  color: black;
  text-decoration: none;
}
form {
  width: 200px;
  margin: 0 auto;
  display: block;
}
.form-field input {
  display: block;
  margin-bottom: 0.5em;
}
.submit-button {
  border-radius: 5px;
  padding: 0.25em 1em;
  margin-top: 1em;
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: #fff;
  font-size: 1em;
}
